* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #030303;
    color: white;
}

#content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

#content span {
    font-size: 30px;
    font-weight: bold;
    word-spacing: 2px;
}

button {
    padding: 0.4rem 2rem;
    border-radius: 5px;
    outline: none;
    font-size: 19px;
    font-weight: bold;
    color: wheat;
    background-color: rgb(228, 119, 23);
    cursor: pointer;
}

h5 {
    margin-top: -10px;
}

button:hover {
    background-color: rgb(250, 39, 15);
}

#img {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

img {
    max-width: 90%;
    height: 500px;

    object-position: center;
    object-fit: contain;
    border-radius: 9px;
}

@media (max-width: 430px) {
    button {
        padding: 0.2rem 1rem;
        font-size: 14px;
    }

    #content {
        flex-direction: column;
        gap: 10px;
    }

    #content span {
        font-size: 7vw;
    }
}

@media (max-width: 376px) {

    button {
        padding: 0.2rem 0.5rem;
    }

}